@import '../../style/colors';

.header {
  background-size: cover;
  background-position: center center;
  color: $color-white;
  max-height: 55vh;

  &:after {
    content: close-quote;
    display: block;
    padding-bottom: 35%;
  }
}
