@mixin default-grid() {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

@mixin page-container() {
  margin: 0 auto;
  max-width: 900px;
  width: 85%;
}

@mixin markdown-styling() {
  color: darken($color-blue, 10%);
  line-height: 1.5;

  h1, h2, h3,
  h4, h5, h6 {
    color: lighten($color-black, 10%);
    text-transform: uppercase;
  }
}